.listings__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.listing {
  overflow: hidden;
}

.listing a {
  text-decoration: none;
  color: inherit;
}

.listing__picture {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: lightgrey;
}

.listing__text {
  font-size: small;
  margin-top: 5px;
}

.listing__text * {
  margin: 5px;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listing__title {
  margin-top: 0;
  font-style: italic;
}

.listings__title {
  font-weight: 100;
}

.listings__line {
  margin-top: 2%;
}

@media only screen and (max-width: 640px) {
  .listings__grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .listing__picture {
    width: 100%;
  }
}
