.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar {
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  margin-right: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: left;
}

.search-bar::placeholder {
  color: #999;
}
